body {
    margin: 0;
    padding: 10px;
}

.sss {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    border-radius: 5px;
    height: auto;
    max-width: 100%;
}

.card {
    width: 50%;
  min-width: 200px !important;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: rgba(227, 228, 230, 0.096) 0px 8px 24px;
}

#container {
    display: flex;
    flex-basis: 200px;
    flex-wrap: wrap;
    margin-top: 30px
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.center {
    align-items: center;
    height: 400px;
    display: none;
    justify-content: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #5e92ce;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 1200px) {
    .card {
      width: 33.3% !important;
      min-width: calc(33.3% - 10px) !important;
      max-width: calc(33.3% - 10px) !important;
    }
  }
  @media only screen and (min-width: 992px) {
    .card {
      width: 25% !important;
      min-width: calc(25% - 10px) !important;
      max-width: calc(25% - 10px) !important;
    }
  }
